In [1]:
#import dependencies
import pandas as pd
from pathlib import Path
import os
import numpy as np

#read in the data
file_path = Path('Resources/cleaned_data/crime_2022.csv')
crime_data_2022 = pd.read_csv(file_path)

#check the data
crime_data_2022.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,crime_timestamp,Year
0,221412417,06/16/2022 12:00:00 AM,2022-06-16,200,14,Pacific,1495,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,9200 AIRPORT BL,NaN,33.9523,-118.3906,2022-06-16 02:00:00,2022
1,221311340,05/17/2022 12:00:00 AM,2022-05-17,1205,13,Newton,1321,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,2500 S MAIN ST,NaN,34.0258,-118.2681,2022-05-17 12:05:00,2022
2,222011339,06/20/2022 12:00:00 AM,2022-06-20,100,20,Olympic,2023,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,400 S KINGSLEY DR,NaN,34.0672,-118.3028,2022-06-20 01:00:00,2022
3,221600628,12/19/2022 12:00:00 AM,2022-12-19,1830,16,Foothill,1622,2,890,FAILURE TO YIELD,...,890.0,NaN,NaN,NaN,EL DORADO,DAVENTRY,34.2701,-118.4293,2022-12-19 18:30:00,2022
4,220510220,06/15/2022 12:00:00 AM,2022-06-13,1400,5,Harbor,504,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,1600 W 204TH ST,NaN,33.8457,-118.3066,2022-06-13 14:00:00,2022

In [6]:
#find all incidents that occured in september

crime_data_september = crime_data_2022.loc[crime_data_2022['DATE OCC'].dt.month == 9]

#check the data
crime_data_september.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,crime_timestamp,Year
12,221014828,10/04/2022 12:00:00 AM,2022-09-15,1630,10,West Valley,1018,1,330,BURGLARY FROM VEHICLE,...,330.0,NaN,NaN,NaN,16100 VALERIO ST,NaN,34.2048,-118.4837,2022-09-15 16:30:00,2022
13,220216262,09/08/2022 12:00:00 AM,2022-09-08,1445,2,Rampart,275,2,624,BATTERY - SIMPLE ASSAULT,...,624.0,NaN,NaN,NaN,1000 S BURLINGTON AV,NaN,34.0502,-118.2765,2022-09-08 14:45:00,2022
32,220122527,10/14/2022 12:00:00 AM,2022-09-10,2200,1,Central,185,1,480,BIKE - STOLEN,...,480.0,NaN,NaN,NaN,900 S BROADWAY,NaN,34.0423,-118.2561,2022-09-10 22:00:00,2022
33,220413082,09/12/2022 12:00:00 AM,2022-09-03,105,4,Hollenbeck,457,2,354,THEFT OF IDENTITY,...,354.0,NaN,NaN,NaN,500 N MOTT ST,NaN,34.0469,-118.2029,2022-09-03 01:05:00,2022
48,221915158,10/01/2022 12:00:00 AM,2022-09-29,2000,19,Mission,1964,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,9100 VAN NUYS BL,NaN,34.2354,-118.4502,2022-09-29 20:00:00,2022

In [7]:
#write the data to a csv file
crime_data_september.to_csv('Resources/cleaned_data/crime_september_2022.csv', index=False)